
  <div class="d-flex align-items-center playsbackground mb-3">
  <div class="container">
    <h1 class="textwhite">Theatre</h1>
    <h3 class="textwhite">‘… what literature does at night.’</h3><cite class="textwhite">George Jean Nathan.</cite>
  </div>
</div>

<div class="container headgap">
  <h2><strong><u>Programme</u></strong></h2>
</div>


<div class="container">
  <div class="row">
    <div class="cards ">
      <%= link_to peacemaker_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 40rem;" >
          <%= image_tag("Peacemaker02.jpg", class: "card-img-top", style:"height: 61%;") %>

        <div class="card-body paleorangebackground">
          <h4 class="card-title pt-5 textdisplay">Peacemaker</h4>
          <h5 class="card-text textdisplay">1956</h5>
          <h6 class="card-text textdisplay">ADC Theatre, Cambridge</h6>
        </div>

        </div>
      <% end %>
      <%= link_to maui_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 40rem;">
          <%= image_tag("maui3.jpg", class: "card-img-top", style:"height: 61%;") %>
          <div class="card-body deeporangebackground">
            <h5 class="card-title pt-5 textdisplay">Maui</h5>
            <h6 class="card-text textdisplay">libretto for the opera by Barry Anderson, 1958</h6>
            <h6 class="card-text textdisplay">New Zealand</h6>
          </div>
        </div>
      <% end %>
      <%= link_to onemorebull_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 40rem;">
          <%= image_tag("onemorebull5.jpg", class: "card-img-top", style:"height: 61%;") %>
          <div class="card-body deepchestnut">
            <h5 class="card-title pt-5 textdisplay">One More Bull</h5>
            <h6 class="card-text textdisplay">1966</h6>
            <p class="card-text textdisplay">Cockpit Theatre, London</p>
          </div>
        </div>
      <% end %>
      <%= link_to thewellintentionedbuilder_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 30rem;">
          <%= image_tag("thewellintentionedbuilder01.jpg", class: "card-img-top", style:"height: 14.5rem;") %>
          <div class="card-body skyblue">
            <h5 class="card-title pt-5 textdisplay">The Well-intentioned Builder</h5>
            <h6 class="card-text textdisplay">Cockpit Theatre, London, 1966 and National Theatre of Craiova, Romania, 2004</h6>
          </div>
        </div>
      <% end %>
      <%= link_to malonedies_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 30rem;">
          <%= image_tag("melonedies01_edited.jpg", class: "card-img-top", style:"height: 18rem;") %>
          <div class="card-body">
            <h5 class="card-title textdisplay">Malone Dies</h5>
            <h6 class="card-text textdisplay">1984</h6>
            <p class="textdisplay">Edinburgh International Festival</p>
          </div>
        </div>
      <% end %>
      <%= link_to heddagabler_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 30rem;">
          <%= image_tag("heddagabler02_edited.jpg", class: "card-img-top", style:"height: 14.5rem;") %>
          <div class="card-body sagebackground">
            <h4 class="card-title pt-5 textdisplay">Hedda Gabler</h4>
            <h5 class="card-text textdisplay">2006</h5>
            <h6 class="textdisplay">Edinburgh Fringe Festival</h6>
          </div>
        </div>
      <% end %>
      <%= link_to themanofthefutureisdead_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 40rem;">
          <%= image_tag("ukraine_wong-2.jpg", class: "card-img-top", style:"height: 61%;") %>
          <div class="card-body deepskyblue">
            <h5 class="card-title pt-5 textdisplay">The Man of the future is Dead</h5>
            <h6 class="card-text textdisplay">Edinburgh fringe festival, 2006 and Bulandra Theatre Bucharest 2007</h6>
          </div>
        </div>
      <% end %>
      <%= link_to secondtimeround_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 40rem;">
          <%= image_tag("STR1_edited.jpg", class: "card-img-top", style:"height: 61%;") %>
          <div class="card-body paleorangebackground">
            <h5 class="card-title pt-5 textdisplay">Second Time Round</h5>
            <h6 class="card-text textdisplay">2011</h6>
            <p class="card-text textdisplay">International Festival of Musical Theatre, Bucharest, 2007</p>
          </div>
        </div>
      <% end %>
      <%= link_to oldboy_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 40rem;">
          <%= image_tag("Old_Boy_edited.jpg", class: "card-img-top", style:"height: 61%;") %>
          <div class="card-body deeporangebackground">
            <h5 class="card-title pt-5 textdisplay">Old Boy</h5>
            <h6 class="card-text textdisplay">2009</h6>
            <p class="card-text textdisplay">Tristan Bates Theatre, London</p>
          </div>
        </div>
      <% end %>
      <%= link_to worldwithin_path, style: "text-decoration: none;" do %>
        <div class="card text-center" style="height: 30rem;">
          <%= image_tag("worldwithin1.jpg", class: "card-img-top") %>
          <div class="card-body skyblue">
            <h5 class="card-title pt-5 textdisplay">World Within</h5>
            <h6 class="card-text textdisplay">2012</h6>
            <p class="card-text textdisplay">Untreatru, Bucharest, Romania</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
