
  <div class=" playsbackground mb-1">
  <div class="headingplacement">
    <h1 class="size3 textwhite">Theatre</h1>
    <h3 class="size5 textwhite">‘… what literature does at night.’</h3><cite class="size5 textwhite">George Jean Nathan.</cite>
  </div>
</div>

<div class="headgap headingplacement2">
  <h2 class="size5"><strong><u>Programme</u></strong></h2>
</div>


<div class="playscontainer">
  <div>
    <div class="cards">
      <%= link_to peacemaker_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center paleorangebackground" >
          <%= image_tag("Peacemaker02.jpg", class: "card-img-top") %>

        <div class="card-body paleorangebackground">
          <h4 class="card-title pt-5 textdisplay sizebooks">Peacemaker</h4>
          <h5 class="card-text textdisplay sizebooks">1956</h5>
          <h6 class="card-text textdisplay sizebooks">ADC Theatre, Cambridge</h6>
        </div>

        </div>
      <% end %>
      <%= link_to maui_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center deeporangebackground">
          <%= image_tag("maui3.jpg", class: "card-img-top") %>
          <div class="card-body deeporangebackground">
            <h5 class="card-title pt-5 textdisplay sizebooks">Maui</h5>
            <h6 class="card-text textdisplay sizebooks">libretto for the opera by Barry Anderson, 1958</h6>
            <h6 class="card-text textdisplay sizebooks">New Zealand</h6>
          </div>
        </div>
      <% end %>
      <%= link_to onemorebull_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center  deepchestnut">
          <%= image_tag("onemorebull5.jpg", class: "card-img-top") %>
          <div class="card-body deepchestnut">
            <h5 class="card-title pt-5 textdisplay sizebooks">One More Bull</h5>
            <h6 class="card-text textdisplay sizebooks">1966</h6>
            <p class="card-text textdisplay sizebooks">Cockpit Theatre, London</p>
          </div>
        </div>
      <% end %>
      <%= link_to thewellintentionedbuilder_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center  skyblue">
          <%= image_tag("thewellintentionedbuilder01.jpg", class: "card-img-top") %>
          <div class="card-body skyblue">
            <h5 class="card-title pt-5 textdisplay sizebooks">The Well-intentioned Builder</h5>
            <h6 class="card-text textdisplay sizebooks">Cockpit Theatre, London, 1966 and National Theatre of Craiova, Romania, 2004</h6>
          </div>
        </div>
      <% end %>
      <%= link_to malonedies_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center">
          <%= image_tag("melonedies01_edited.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title textdisplay sizebooks">Malone Dies</h5>
            <h6 class="card-text textdisplay sizebooks">1984</h6>
            <p class="textdisplay sizebooks">Edinburgh International Festival</p>
          </div>
        </div>
      <% end %>
      <%= link_to heddagabler_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center sagebackground">
          <%= image_tag("heddagabler02_edited.jpg", class: "card-img-top") %>
          <div class="card-body sagebackground">
            <h4 class="card-title pt-5 textdisplay sizebooks">Hedda Gabler</h4>
            <h5 class="card-text textdisplay sizebooks">2006</h5>
            <h6 class="textdisplay sizebooks">Edinburgh Fringe Festival</h6>
          </div>
        </div>
      <% end %>
      <%= link_to themanofthefutureisdead_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center deepskyblue">
          <%= image_tag("ukraine_wong-2.jpg", class: "card-img-top") %>
          <div class="card-body deepskyblue">
            <h5 class="card-title pt-5 textdisplay sizebooks">The Man of the future is Dead</h5>
            <h6 class="card-text textdisplay sizebooks">Edinburgh fringe festival, 2006 and Bulandra Theatre Bucharest 2007</h6>
          </div>
        </div>
      <% end %>
      <%= link_to secondtimeround_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center paleorangebackground">
          <%= image_tag("STR1_edited.jpg", class: "card-img-top") %>
          <div class="card-body paleorangebackground">
            <h5 class="card-title pt-5 textdisplay sizebooks">Second Time Round</h5>
            <h6 class="card-text textdisplay sizebooks">2011</h6>
            <p class="card-text textdisplay sizebooks">International Festival of Musical Theatre, Bucharest, 2007</p>
          </div>
        </div>
      <% end %>
      <%= link_to oldboy_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center deeporangebackground">
          <%= image_tag("Old_Boy_edited.jpg", class: "card-img-top") %>
          <div class="card-body deeporangebackground">
            <h5 class="card-title pt-5 textdisplay sizebooks">Old Boy</h5>
            <h6 class="card-text textdisplay sizebooks">2009</h6>
            <p class="card-text textdisplay sizebooks">Tristan Bates Theatre, London</p>
          </div>
        </div>
      <% end %>
      <%= link_to worldwithin_path, class: "playcard", style: "text-decoration: none;" do %>
        <div class="card text-center skyblue">
          <%= image_tag("worldwithin1.jpg", class: "card-img-top") %>
          <div class="card-body skyblue">
            <h5 class="card-title pt-5 textdisplay sizebooks">World Within</h5>
            <h6 class="card-text textdisplay sizebooks">2012</h6>
            <p class="card-text textdisplay sizebooks">Untreatru, Bucharest, Romania</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
