
  <div class="d-flex align-items-center playsbackground mb-3">
  <div class="container">
    <h1>Welcome to the ultimate theatrical experience</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="cards ">
      <div class="card text-center" style="height: 40rem;" >
        <%= image_tag("Peacemaker02.jpg", class: "card-img-top", style:"height: 61%;") %>
        <div class="card-body paleorangebackground">
          <h4 class="card-title">Peacemaker</h4>
          <h5 class="card-text">1956</h5>
          <h6 class="card-text">ADC Theatre, Cambridge</h6>
          <%= link_to "peace", peacemaker_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 40rem;">
        <%= image_tag("maui3.jpg", class: "card-img-top") %>
        <div class="card-body deeporangebackground">
          <h5 class="card-title">Maui</h5>
          <h6 class="card-text">libretto for the opera by Barry Anderson, 1958</h6>
          <h6 class="card-text">New Zealand</h6>
          <%= link_to "maui", maui_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 40rem;">
        <%= image_tag("onemorebull5.jpg", class: "card-img-top", style:"height: 61%;") %>
        <div class="card-body deepchestnut">
            <h5 class="card-title">One More Bull</h5>
            <h6 class="card-text">1966</h6>
            <p class="card-text">Cockpit Theatre, London</p>
            <%= link_to "one", onemorebull_path %>
          </div>
        </div>
      <div class="card text-center" style="height: 30rem;">
        <%= image_tag("thewellintentionedbuilder01.jpg", class: "card-img-top", style:"height: 14.5rem;") %>
        <div class="card-body skyblue">
          <h5 class="card-title">The Well-intentioned Builder</h5>
          <h6 class="card-text">Cockpit Theatre, London, 1966 and National Theatre of Craiova, Romania, 2004</h6>
          <%= link_to "well-intentioned", thewellintentionedbuilder_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 30rem;">
        <%= image_tag("melonedies01_edited.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Malone Dies</h5>
          <h6 class="card-text">1984</h6>
          <p>Edinburgh International Festival</p>
          <%= link_to "Malone", malonedies_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 30rem;">
        <%= image_tag("heddagabler02_edited.jpg", class: "card-img-top") %>
        <div class="card-body sagebackground">
          <h4 class="card-title">Hedda Gabler</h4>
          <h5 class="card-text">2006</h5>
          <h6>Edinburgh Fringe Festival</h6>
          <%= link_to "Hedda", heddagabler_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 40rem;">
        <%= image_tag("themanofthefutureisdead01_edited.jpg", class: "card-img-top") %>
        <div class="card-body deepskyblue">
          <h5 class="card-title">The Man of the future is Dead</h5>
          <h6 class="card-text">Edinburgh fringe festival, 2006 and Bulandra Theatre Bucharest 2007</h6>
          <%= link_to "TheMan", themanofthefutureisdead_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 40rem;">
        <%= image_tag("STR1_edited.jpg", class: "card-img-top") %>
        <div class="card-body paleorangebackground">
          <h5 class="card-title">Second Time Round</h5>
          <h6 class="card-text">2011</h6>
          <p class="card-text">International Festival of Musical Theatre, Bucharest, 2007</p>
          <%= link_to "second", secondtimeround_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 40rem;">
        <%= image_tag("Old_Boy_edited.jpg", class: "card-img-top") %>
        <div class="card-body deeporangebackground">
          <h5 class="card-title">Old Boy</h5>
          <h6 class="card-text">2009</h6>
          <p class="card-text">Tristan Bates Theatre, London</p>
          <%= link_to "oldboy", oldboy_path %>
        </div>
      </div>
      <div class="card text-center" style="height: 40rem;">
        <%= image_tag("worldwithin1.jpg", class: "card-img-top") %>
        <div class="card-body skyblue">
          <h5 class="card-title">World Within</h5>
          <h6 class="card-text">2012</h6>
          <p class="card-text">Untreatru, Bucharest, Romania</p>
          <%= link_to "world", worldwithin_path %>
        </div>
      </div>
    </div>
  </div>
</div>
