<div class="d-flex align-items-center booksbackground">
  <div class="container">
    <h1>Books</h1>
    <h2>"The voice of reason in a deluded world" - John Pick Emeritus Professor Gresham College London</h2>
  </div>
</div>
<div class="half-and-half pt-3">
  <div class="container">

    <div class="cardsbooks ">
      <%# <%= link_to theatreoutsidelondon_path, do %>

        <div class ="card">

          <%= image_tag("theatre_outside_london_02.jpg", class: "img_size_l card-img-top") %>
          <p class="card-title d-flex justify-content-center">Theatre Outside London</p>
          <p class="card-text  d-flex justify-content-center">Macmillan, 1971</p>
           <%= link_to "theatre", theatreoutsidelondon_path, data: {turbo_frame: "modal"} %>

        </div>

      <%# <% end %>
      <div class ="card">
        <%= image_tag("trialerotictheatre.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Erotic Theatre</p>
        <p class="card-text  d-flex justify-content-center">Secker, 1972</p>
        <%= link_to "erotictheatre", erotictheatre_path %>
      </div>
      <div class ="card">
        <%= image_tag("postwarbritishtheatre.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Post-War British Theatre</p>
        <p class="card-text  d-flex justify-content-center">Routledge, 1976, 1980 and re-issued 2014</p>
        <%= link_to "postwar", postwarbritishtheatre_path %>

      </div>
      <div class ="card">
        <%= image_tag("historyofnat.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">The History of the The National Theatre</p>
        <p class="card-text  d-flex justify-content-center">Cape, 1978</p>
        <%= link_to "history", thehistoryofthenationaltheatre_path %>
      </div>
      <div class ="card">
        <%= image_tag("coldwartheatre.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Cold War Theatre</p>
        <p class="card-text  d-flex justify-content-center">Routledge, 1992, and re-issued 2014</p>
        <%= link_to "coldwar", coldwartheatre_path %>
      </div>
      <div class ="card">
        <%= image_tag("isshakespearestillcontemporary.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Is Shakespeare Still Our Contempoary</p>
        <p class="card-text  d-flex justify-content-center">Routledge, 1989</p>
        <%= link_to "shakespeare", isshakespearestillourcontemporary_path %>
      </div>
      <div class ="card">
        <%= image_tag("missingthepoint.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Missing the Point</p>
        <p class="card-text  d-flex justify-content-center">The Lutterworth Press, 2007</p>
        <%= link_to "missingpoint", missingthepoint_path %>
      </div>
      <div class ="card">
        <%= image_tag("stateofparalysis.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">State of Paralysis</p>
        <p class="card-text  d-flex justify-content-center">The Lutterworth Press, 2019</p>
        <%= link_to "state", stateofparalysis_path %>
      </div>
      <div class ="card">
        <%= image_tag("big_dada_cover.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Big Dada - and the Paradiseville Experience</p>
        <p class="card-text  d-flex justify-content-center">Available Online, 2019</p>
        <%= link_to "big", bigdada_path %>
      </div>
      <div class ="card">
        <%= image_tag("sliding_scales_Cover.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">Sliding Scales</p>
        <p class="card-text  d-flex justify-content-center">A relative history of now</p>
        <p class="card-text  d-flex justify-content-center">Available Online, 2023</p>
        <%= link_to "sliding", slidingscales_path %>
      </div>
      <div class ="card">
        <%= image_tag("world_without_worship_cover.jpg", class: "img_size_l card-img-top") %>
        <p class="card-title d-flex justify-content-center">WWW - World Without Worship</p>
        <p class="card-text  d-flex justify-content-center">Available Online, 2010</p>
        <%= link_to "WWW", worldwithoutworship_path %>
      </div>
    </div>
  </div>
</div>
