<div class="container">
  <div class="mx-auto">
    <h1>Books</h1>
  </div>
  <div>
    <div>
      <%= image_tag("theatre_outside_london.jpg", class: "img_size") %>
      <p>Theatre Outside London</p>
      <p>Macmillian, 1971</p>
    </div>
    <div>
      <%= image_tag("erotic_theatre.jpg", class: "img_size") %>
      <p>Erotic Theatre</p>
      <p>Secker, 1972</p>
    </div>
    <div>
      <%= image_tag("post_war_british_theatre.jpg", class: "img_size") %>
      <p>Post-War British Theatre</p>
      <p>Routledge, 1976, 1980 and re-issued 2014</p>
    </div>
    <div>
      <%= image_tag("the_history_of_the_national_theatre.jpg", class: "img_size") %>
      <p>The History of the The National Theatre</p>
      <p>Cape, 1978</p>
    </div>
    <div>
      <%= image_tag("cold_war_theatre.jpg", class: "img_size") %>
      <p>Cold War Theatre</p>
      <p>Routledge, 1992, and re-issued 2014</p>
    </div>
    <div>
      <%= image_tag("is_shakespeare_still_our_comtemporary.jpg", class: "img_size") %>
      <p>Is Shakespeare Still Our Contempoary</p>
      <p>Routledge, 1989</p>
    </div>
    <div>
      <%= image_tag("missing_the_point.jpg", class: "img_size") %>
      <p>Missing the Point</p>
      <p>The Lutterworth Press, 2007</p>
    </div>
    <div>
      <%= image_tag("state_of_paralysis.jpg", class: "img_size") %>
      <p>State of Paralysis</p>
      <p>The Lutterworth Press, 2019</p>
    </div>
  </div>
</div>
