<div class="container">
  <div class="container">
    <h1><strong>No Fixed Abode</strong></h1>
  </div>
  <div class="d-flex justify-content-around align-items-center">

    <%= image_tag("NFA2.jpg", class: "img_test") %>
    <div>
      <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>
  </div>
  <div class="pt-3">
    <p>As an independent writer, John has contributed to a wide number of newspapers and magazines, world-wide, including (in the UK): The Observer (guest critic, 1972, and magazine feature writer), Sunday Telegraph, Mail on Sunday, Prospect, New Democrat (arts editor), Gambit, Plays and Players, Yorkshire Bylines, and The New European. Elsewhere, he has contributed articles for: The San Diego Union, Moscow News, Jordan Times, New European Review (on-line), Assaig de Teatro and Critical Stages (IATC/AICT online magazine).</p>
  </div>
</div>


<div class="cardsarticles">
  <div class="card container" style="width: 18rem;">
    <%= image_tag("political-system1.jpg", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Clearing out the attic: why our political system needs a complete re-think</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/clearing-out-the-attic-why-our-political-system-needs-a-complete-re-think/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("bulldoginwindow_laweqp", class: "img-card-top img_size_l") %>
    <h5 class="card-title">The Tail is wagging the dog: welcome to QYIK FIX (UK)Ltd</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/the-tail-is-wagging-the-dog-welcome-to-qyik-fix-uk-ltd/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("the-liberal-cause_eu2qhj", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Why I am a liberal</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/why-i-am-a-liberal/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("populist-right_t1gjoi", class: "img-card-top img_size_l") %>
    <h5 class="card-title">The negative vibes of the populist right</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/the-negative-vibes-of-the-populist-right/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("digital-curiouser_gzkiu7", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Curiouser and curiouser: the government must decide on the curious position of 'digital' culture</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/curiouser-and-curiouser-the-government-must-decide-on-the-curious-position-of-digital-culture/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("zeleskyimage_zk5ock", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Servant of the People: the Ukrainian sitcom where art imitates life - and the other way round</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/news/world/servant-of-the-people-the-ukrainian-sitcom-where-art-imitates-life-and-the-other-way-around/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("bearbehindbars_pqhnnz", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Responding to Zelenskyy's appeal: we must choose bravery and support Ukraine</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/news/world/responding-to-zelenskyys-appeal-the-west-must-choose-bravery-and-support-ukraine/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("shakespeare-in-europe_wiaugl", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Shakespearean tragedy in Central Europe</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/news/world/shakespearean-tragedy-in-central-europe/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("patriotism_in_ukraine_uepsuk", class: "img-card-top img_size_l") %>
    <h5 class="card-title">In Ukraine: a patriotic country with rich cultural heritage</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/news/world/in-ukraine-a-patriotic-country-with-a-rich-cultural-heritage/"}"  %></p>
  </div>

  <div class="card container" style="width: 18rem;">
    <%= cl_image_tag("Public_Broadcasting_Service_egfoaz", class: "img-card-top img_size_l") %>
    <h5 class="card-title">Uncertain future of public service broadcasting</h5>
    <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/uncertain-future-of-public-service-broadcasting/"}"  %></p>
  </div>
</div>
