<div class="container">
  <div class="container">
    <h1 class="text-center p-4"><strong>International Magazine</strong></h1>
  </div>
  <div class="text-center">

    <%= image_tag("NFA2.jpg", class: "img_test") %>
    <div class="p-4">
      <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>
  </div>
  <div class="pt-3">
    <p>As an independent writer, John has contributed to a wide number of newspapers and magazines, world-wide, including (in the UK): The Observer (guest critic, 1972, and magazine feature writer), Sunday Telegraph, Mail on Sunday, Prospect, New Democrat (arts editor), Gambit, Plays and Players, Yorkshire Bylines, and The New European. Elsewhere, he has contributed articles for: The San Diego Union, Moscow News, Jordan Times, New European Review (on-line), Assaig de Teatro and Critical Stages (IATC/AICT online magazine).</p>
  </div>
</div>

<h3 class="container">You may also be interested in...</h3>

<div class="cardsarticles container">



  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/clearing-out-the-attic-why-our-political-system-needs-a-complete-re-think/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= image_tag("political-system1.jpg", class: "card-img-top") %>
      <h5 class="card-title text-center textdisplay">Clearing out the attic: why our political system needs a complete re-think</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/the-tail-is-wagging-the-dog-welcome-to-qyik-fix-uk-ltd/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("bulldoginwindow_laweqp", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">The Tail is wagging the dog: welcome to QYIK FIX (UK)Ltd</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
   <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/why-i-am-a-liberal/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("the-liberal-cause_eu2qhj", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Why I am a liberal</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/the-negative-vibes-of-the-populist-right/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("populist-right_t1gjoi", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">The negative vibes of the populist right</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/curiouser-and-curiouser-the-government-must-decide-on-the-curious-position-of-digital-culture/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("digital-curiouser_gzkiu7", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Curiouser and curiouser: the government must decide on the curious position of 'digital' culture</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/news/world/servant-of-the-people-the-ukrainian-sitcom-where-art-imitates-life-and-the-other-way-around/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("zeleskyimage_zk5ock", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Servant of the People: the Ukrainian sitcom where art imitates life - and the other way round</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/news/world/responding-to-zelenskyys-appeal-the-west-must-choose-bravery-and-support-ukraine/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("bearbehindbars_pqhnnz", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Responding to Zelenskyy's appeal: we must choose bravery and support Ukraine</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"https://yorkshirebylines.co.uk/author/johnelsom/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("John-Elsom-01-350x350_pqnyeo", class: "roundimage card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">For more recent articles check out the Yorkshire Bylines</h5>
    </div>
  <% end %>

</div>
