<div class="container journalbackground d-flex align-items-center justify-content-center">
  <div>
    <h1>Journalism</h1>
    <h3>‘…the first rough draft of history.’ Philip L. Graham, former Washington Post President</h3>
  </div>
</div>

<div class="journalismcardslayout container">
  <div class="card" style="width: 18rem;">
    <%= image_tag("W&I2.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">THE WORLD & I - 1987-2004</h5>
       <%= link_to "go somewhere", worldandi_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  <%= image_tag("LM1.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">THE LONDON MAGAZINE – 1963-70</h5>
      <%= link_to "go somewhere", thelondonmag_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= image_tag("NFA2.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Citizen Journalism</h5>
      <%= link_to "go somewhere", nfixabode_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= image_tag("CR_1.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">CONTEMPORARY REVIEW – 1978-90</h5>
      <%= link_to "go somewhere", contreview_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= image_tag("List_Web034.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">THE LISTENER – 1972-82</h5>
      <%= link_to "go somewhere", thelistener_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
