<div class="journalbackground mb-3">
  <div class="headingplacement">
    <h1 class="textblack size3">Journalism</h1>
    <h3 class="textblack size5">‘…the first rough draft of history.’ </h3><cite class="textblack size5">Philip L. Graham, former Washington Post President</cite>
  </div>
</div>

<div class="journalismcardslayout headingplacement2">

  <%= link_to worldandi_path, style: "text-decoration: none;" do %>
    <div class="card boxdisplay2">
      <%= cl_image_tag("W_I2fit_g5slvo", class: "journalimage") %>
      <div class="card-body">
        <p class="card-title textblack2 sizebooks text-center">The International Association of Theatre Critics</p>
        <p class="card-text textblack2 sizebooks text-center cite2">THE WORLD & I 1987-2004</p>
      </div>
    </div>
  <% end %>

  <%= link_to thelondonmag_path, style: "text-decoration: none;" do %>
  <div class="card boxdisplay2" >
    <%= cl_image_tag("LM1fit_pkx12v", class: "journalimage") %>
      <div class="card-body">
      <p class="card-title textblack2 sizebooks text-center">Theatre correspondent and Talent scout at Paramount Pictures</p>
        <p class="cite2 card-text textblack2 sizebooks text-center">THE LONDON MAGAZINE 1963-70</p>
      </div>
    </div>
  <% end %>

  <%= link_to nfixabode_path, style: "text-decoration: none;" do %>
    <div class="card boxdisplay2" >
      <%= image_tag("NFA2.jpg", class: "journalimage") %>
      <div class="card-body">
        <p class="card-title textblack2 sizebooks text-center">Assieg del Teatro (Barcelona)</p>
        <p class="card-text textblack2 sizebooks text-center cite2">International Magazine</p>
      </div>
    </div>
  <% end %>

  <%= link_to contreview_path, style: "text-decoration: none;" do %>
    <div class="card boxdisplay2" >
       <%= cl_image_tag("CR_1fit_bfvw4c", class: "journalimage") %>
      <div class="card-body">
        <p class="card-title textblack2 sizebooks text-center">The Brave New World</p>
        <p class="cite2 card-text textblack2 sizebooks text-center">CONTEMPORARY REVIEW 1978-93</p>
      </div>
    </div>
  <% end %>

  <%= link_to thelistener_path, style: "text-decoration: none;" do %>
    <div class="card boxdisplay2" >
      <%= image_tag("List_Web034.jpg", class: "journalimage") %>
      <div class="card-body">
        <p class="card-title textblack2 sizebooks text-center">West End Theatre</p>
        <p class="card-text textblack2 sizebooks text-center cite2">THE LISTENER 1972-82 </p>
      </div>
    </div>
  <% end %>

  <%= link_to yourshire_path, style: "text-decoration: none;" do %>
    <div class="card boxdisplay2" >
      <%= image_tag("political-system1.jpg", class: "journalimage") %>
      <div class="card-body">
        <p class="card-title textblack2 sizebooks text-center">Yorkshire Bylines</p>
        <p class="card-text textblack2 sizebooks cite2 text-center"> Citizen Journalism</p>
      </div>
    </div>
  <% end %>

</div>
