<div class="container mb-5">
  <div class="container pt-3">
    <h1><strong>Yorkshire Bylines</strong></h1>
    <h2><strong>Clearing out the attic: why our political system needs a complete re-think</strong></h2>
    <h3 class="textgrey">PR, Lord’s reform, Gordon Brown’s ‘people’s convention’: they have their merits, says John Elsom, but we need to go further</h3>
  </div>

  <div class="text-center">
    <%= image_tag("political-system1.jpg", class: "img_test") %>

    <div class="p-4">
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>

  </div>
  <div class="pt-3">


    <p><strong>The Catch-22 of electoral reform under the British system is that you must win a parliamentary majority by first-past-the-post before you can introduce proportional representation (PR). By some quirk of nature, this is rarely the priority of a party that has just got into power. Reforming zeal evaporates. They hum and haw. There may be a case for a fairer system, they concede, but there are more urgent matters in their in-trays, and their government should lead from the front and not be distracted by constitutional niceties …</strong></p>
    <p>And so, PR gets stuffed into the attic again, until the next time a hung parliament or polarised electorate digs out that dusty green paper. Then, once more, we mull over the merits of single transferable vote (STV) and party list, getting goggle-eyed in the process, before some short-term fix clears the political blockage and, to sighs of relief or frustration, PR goes back in the loft.</p>
    <h4><strong>The trouble with custom</strong></h4>
    <p>That is the trouble with ancient and hallowed systems that have worked indifferently well for centuries. Precedent rules, custom prevails; and the trickier issues are tucked away, and temporarily forgotten, until some unfortunate combination of events brings them all to the surface. We are left with a constitutional mess, a perfect storm of several messes, which is the only way to describe the world of Westminster today.</p>
    <p>Last Christmas, in a report published by the Institute for Government, our former prime minister, Gordon Brown, made a daring suggestion. He called for a people’s convention to discuss constitutional reform. “We need to get the balance right,” he explained, “between the autonomy that people desire and the cooperation that we need”. He suggested that more power should be devolved to the four national governments – England, Scotland, Wales, and Northern Ireland – so that each could negotiate its own relationship with the EU. </p>
    <p>“Britain needs,” he declared, “new answers in an age of globalisation”. Somewhere in the attic, there are discussion documents on this very subject, warning against or advocating for what used to be called the ‘Balkanisation’ of the British Isles, under the sovereign leadership of the Crown. In the more recent boxes, perched on the edge of the loft ladder, are John Major’s requests for the principle of ‘subsidiarity’ to be observed throughout the EU, so that decisions can be taken locally or regionally, rather than in Brussels.</p>
    <p>David Cameron said something similar, and so did Edward Heath; indeed, if you leaf through the documents that occupy the hidden spaces between the immersion heater and the reserve water tank, you will find many bold proposals to make Britain more democratic, and governments more accountable, and political parties more responsive to their members. And yet, here we are, living in a country whose ex-prime minister, Liz Truss, was elected by members of her party, a mere 0.03% of the electorate, and whose current prime minister, Rishi Sunak, lacks even that minuscule mandate, having been chosen by his party’s MPs alone. </p>
    <h4><strong>PR, on its own, is not enough – the problems run deeper</strong></h4>
    <p>Is PR the breakthrough for which we have been waiting? Not quite, I fear. Our MPs represent constituencies far larger than the Athenian city-states that they purport to emulate. It would be over-ambitious for them to reflect every shade of interest within their constitutional boundaries, or even a respectable cross-section, and still have time to walk the dogs. </p>
    <p>We live in a confrontational system. That is the main problem. The real reason why we go through the process of leafleting, canvassing, and crossing the boxes in polling booths is not to express our opinions, but to give one assortment of MPs a majority in parliament, against the wishes of another assortment, and thus the right to rule for four or five years. This simplifies the wishes of the people into two polarities, ‘left’ and ‘right’; and the niceties of PR are lost in the turmoil of Trial by Combat. </p>
    <p>The justification for this ill-mannered behaviour is that we need a strong government. The public at large, or so the narrative runs, needs leadership. We need to be told what to do by those who are well-informed, highly principled, and competent, which is why the current chaos in Westminster comes as such a nasty shock. </p>
    <p>Who holds the government to account? Rarely the opposition. Has the party in power delivered its promises? Not according to its backbenchers. Do the exchanges at PM’s questions reflect a mature debate about the future of the nation? If so, I have missed them.</p>
    <p>Currently, political parties make promises they cannot deliver to obtain power that they do not deserve. “Growth!” pledged Truss, as if she could build hi-tec factories by herself. “We will stop the boats!” cried Sunak, as if he could stretch barbed wire across the Channel. “Get Brexit Done,” demanded Johnson, forgetting the 134-mile border with the Irish Republic. </p>
    <p>Why have we talked ourselves into a situation where we have given more power to central government and fewer ways to restrain it, and lulled ourselves into believing that, by some mysterious combination of checks and balances, we will muddle through? Do we prefer to have an elective dictatorship, hopefully benign, that we can upset from time to time? Who is responsible for this charade, the power-hungry few or the apathetic many?</p>
    <p>Back to basics, as Major once said. In a democracy, authority is delegated upwards – from ‘the people’ to those we appoint to act on our behalf. That is the social contract. We exchange part of our independence as individuals to secure the protection of the law and the defence of the realm. </p>
    <p>In a democracy, the bobbies on the beat are our police. We pay for our pensions. The social services are our social services. These are not gifts from the government. Above all, we should not fall for the idea that only a strong political party with a vision for the future can keep us in the style to which we have become accustomed. If our prosperity is supported by the burning of fossil fuels, we must think about our priorities. We cannot expect the government to do so for us. </p>
    <p>We, the people, are not algorithms. Our private thoughts cannot be monitored by focus groups and turned into platitudes by marketing officers. We know that life is complicated and that difficult decisions must be taken. We know that there may be many answers to the same question and that the glory of life lies in its diversity, not conformity. </p>
    <h4><strong>A ‘people’s convention’ needs a much broader remit</strong></h4>
    <p>If a people’s convention ever takes place, we must consider its remit. It should extend much further than PR or the reform of the Lords. Where and how should the rights of smaller communities be protected against the demands of central government? If you’re going to dredge Teesside into a ‘freeport’, shouldn’t you ask those who live first? </p>
    <p>What is meant by ‘growth’? There is no single answer. What kind of education provides the best opportunities? Apprenticeships, academies, or research fellowships? What schools are appropriate for the neighbourhood? They may differ from place to place. We, the people, are the ones who should decide; and the collective wisdom of the nation, its very identity, lies not in its history, but in its respect for alternative values.</p>
    <p>The power of central government should not necessarily be diminished. In some respects, it should be strengthened. It is a characteristic of the Commons that ‘little local difficulties’ are muddled up with giant crises and international calamities, often within the space of half a sentence. The seriousness of an issue never gets in the way of an easy jibe.</p>
    <p>Parliament can only regain the respect it once deserved when politicians concentrate debate on the matters that concern us all – human rights, international relations, climate change. That is why we delegate our authority to them, not for party games. We need more democracy at one level and more respect for serious debate at another. </p>
    <p>The secret is mutual trust, which should be the first aim of a people’s convention – no hidden powers, no oligarchs, no VIP lanes for contracts, no tax havens.</p>
    <p>This means unlocking the doors of the Treasury, always a risky business. Currently, fiscal power rests in the cupboards of Whitehall. Only 6% of the tax revenue is raised by local authorities: the rest by central government. Compared with other European countries, this is a very high percentage. Councils have only limited powers to pursue their own initiatives. Otherwise they must go, cap in hand, to the government.</p>
    <p>It is very hard to see how our system of government can be decentralised without spreading its tax-raising and spending powers as well. There are many hidden doors that connect No 10 and No 11 Downing Street. There may be one giant attic that spans them both as well. We should know what it contains.</p>
  </div>

  <h3 class="pt-4 pb-4">You may also be interested in...</h3>

<div class="cardsarticles">



  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/clearing-out-the-attic-why-our-political-system-needs-a-complete-re-think/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= image_tag("political-system1.jpg", class: "card-img-top") %>
      <h5 class="card-title text-center textdisplay">Clearing out the attic: why our political system needs a complete re-think</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/the-tail-is-wagging-the-dog-welcome-to-qyik-fix-uk-ltd/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("bulldoginwindow_laweqp", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">The Tail is wagging the dog: welcome to QYIK FIX (UK)Ltd</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
   <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/why-i-am-a-liberal/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("the-liberal-cause_eu2qhj", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Why I am a liberal</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/the-negative-vibes-of-the-populist-right/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("populist-right_t1gjoi", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">The negative vibes of the populist right</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/politics/curiouser-and-curiouser-the-government-must-decide-on-the-curious-position-of-digital-culture/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("digital-curiouser_gzkiu7", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Curiouser and curiouser: the government must decide on the curious position of 'digital' culture</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/news/world/servant-of-the-people-the-ukrainian-sitcom-where-art-imitates-life-and-the-other-way-around/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("zeleskyimage_zk5ock", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Servant of the People: the Ukrainian sitcom where art imitates life - and the other way round</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"yorkshirebylines.co.uk/news/world/responding-to-zelenskyys-appeal-the-west-must-choose-bravery-and-support-ukraine/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("bearbehindbars_pqhnnz", class: "card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">Responding to Zelenskyy's appeal: we must choose bravery and support Ukraine</h5>
      <cite class="card-text  d-flex justify-content-center textdisplay">- Yorkshire Bylines, 2021 -</cite>
    </div>
  <% end %>

  <%= link_to "https://#{"https://yorkshirebylines.co.uk/author/johnelsom/"}", class:"boxdisplay", style: "text-decoration: none;" do %>
    <div>
      <%= cl_image_tag("John-Elsom-01-350x350_pqnyeo", class: "roundimage card-img-top") %>
      <h5 class="card-title  d-flex justify-content-center textdisplay">For more recent articles check out the Yorkshire Bylines</h5>
    </div>
  <% end %>

</div>


</div>
