<nav class="nav">
  <div class="blackback">
    <div>
      <%= link_to "John Elsom", root_path, class: "logo" %>
    </div>
    <div class="menu">
      <ul>
        <li><%= link_to "Books", books_path, class: "navbut" %></li>
        <li><%= link_to "Plays", plays_path, class: "navbut" %></li>
        <li><%= link_to "Journalism", journalism_path , class: "navbut"%></i>
        <li><%= link_to "About", about_path, class: "navbut" %></li>
        <li><%= link_to "Friends&family", friendsfamily_path, class: "navbut" %></i>
        <li><%= link_to "Random Contemplation", random_path, class: "navbut" %></i>
        <li><%= link_to "Contact me", contactform_path, class: "navbut" %></i>
      </ul>

    </div>
  </div>

</nav>
