<nav class="navbar navbar-expand-lg">
  <ul class="dis_nav d-flex flex-row">
    <li class="nav-item p-2"><%= link_to "John Elsom", root_path %></li>
    <li class="nav-item p-2"><%= link_to "books", books_path %></li>
    <li class="nav-item p-2"><%= link_to "plays", plays_path %></li>
    <li class="nav-item p-2"><%= link_to "about", about_path %></li>
  </ul>
  <div class="dropdown">
      <p class="nav-item p-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >more
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item">Random Contemplation</li>
          <li class="dropdown-item"><%= link_to "journalism", journalism_path %></li>
        </ul>
      </p>
    </div>
</nav>
