

  <div class="friendlistitem ">
    `<div class="friendcard">
      <div id="scroll-text">
        <div class="friendcard_content">
          <%= cl_image_tag("oak_tree_top_yy4rnj", class: "img-fluid", alt: "Top of Oak tree") %>
          <h2 class="friendcard_title">THE STEM</h2>
          <%= cl_image_tag("oak_tree_middle_rb7sry", class: "img-fluid", alt: "Middle of Oak tree") %>
          <h3 class="friendcard_title">Born</h3>



          <div class="friendcard_content">
            <p>John Edward Elsom – October 31, 1934, in Leigh-on-Sea, Essex</p>
          </div>
          <div class="cardbox">
            <h3 class="friendcard_title"> Family Stock </h3>
            <%= cl_image_tag("Child_pic035_dluf84", class: "cardmovementL img-card-top img_size_l", alt: "John, Joy, Marjorie & Leonard") %>
          </div>
          <div class="friendcard_content">

            <p>East Anglian Yeo-persons,</p>
            <p>Father – Leonard Ernest Elsom, electrical engineer, and businessman,</p>
            <p>Mother – Marjorie Louise (née Dines), singer and choir mistress,</p>
            <p>Sister – Marjorie Joy Kelleher (née Elsom), mother, carer, and St. John’s Ambulance nurse,</p>
            <p>Uncles – Tom, Fred, Cyril, and Len</p>
            <p>Aunts – Kathleen, Elsie, Lena</p>
            <p>Cousins – Eric, Darrell, Eddie</p>
            <p>And others.</p>

          </div>

          <div class="cardbox">
            <h3 class="friendcard_title">Education</h3>
            <%= cl_image_tag("brentwood_school_mjdzas", class: "img-card-top img_size_l", alt: "Brentwood Shield") %>
          </div>
          <div class="friendcard_content">
            <p>
            Evacuated from Essex during war,
            Pates Primary School, Cheltenham – Miss Bache
            Cheltenham Grammar School – 1942-45
            School friends – David Rees, Bugsy Henderson, Solo Odampton
            Brentwood School, Essex – 1945-53
            Magdalene College, Cambridge – 1954-6 – BA (Hons)
            Tutors – John Stevens, C.S. Lewis, F.R. Leavis
            College friends – Chris Cowell, Mike Fletcher, Joe Skinner, Mike Taverner, Clive Criper
            City University, London – PhD – 1991
            And life.
            </p>
          </div>


          <h3 class="friendcard_title">Families</h3>
          <%= cl_image_tag("Group_family_at_NLC__ilczeu", class: "img-thumbnail") %>
          <div class="friendcard_content">
            <p>First Wife – Sally (Ann) Mays (Elsom) – (1930-2018) - Australian concert pianist</p>
              <%= cl_image_tag("Sally_and_John_Wedding_wldjmr", class: "img-card-top img_size_l") %>
            <p>Sally and John’s marriage – December 3, 1955</p>

            <p>Parents-in-law – Dorothy (née Hopkins) and Trevor Mays – musicians</p>
               <%= cl_image_tag("IMG_1087_cnteny", class: "img-card-top img_size_l") %>
            <p>First son – Simon Mays Elsom (born April 1957)</p>
              <%= cl_image_tag("uncle_aunt_c4j63z", class: "img-card-top img_size_l") %>
              <%= cl_image_tag("linedrawnuncle_lelviz", class: "img-card-top img_size_l") %>
              <%= cl_image_tag("Bysshe_Sue_Daisy_ipyfql", class: "img-card-top img_size_l") %>
            <p>Second son – Jonathan Mark Mays Elsom (born March 1964)</p>
              <%= cl_image_tag("Joe_at_NLC_qtzjkq", class: "img-card-top img_size_l") %>
              <%= cl_image_tag("jo_co_iusebq", class: "img-card-top img_size_l") %>
              <%= cl_image_tag("baz_leslie_aty1va", class: "img-card-top img_size_l") %>
            <p>Nephews – Joe and Basil Kelleher</p>

            <p>First daughter-in-law – Pauline (née Taylor)</p>
            <p>Second daughter-in-law – Sue (née Gurney)</p>
              <%= cl_image_tag("daisy_friend_vpmdpq", class: "img-card-top img_size_l") %>
              <%= cl_image_tag("charlie_co_ms8hum", class: "img-card-top img_size_l") %>
            <p>Grand-children – (to Pauline and Simon) Tom, Sarah; (Sue and Jonathan) Daisy, Charlie</p>
            <p>Grand-daughter-in-law – Harriet, partner to Tom,</p>
              <%= cl_image_tag("Harriet_Isaac_Tom_resize_ajviur", class: "img-card-top img_size_l") %>
            <p>Great-grandchildren – (to Harriet and Tom) Isaac and Oscar</p>

            <p>Co-opted great-grandchildren – Leo and Raph</p>
            <p>Multiple cousins, uncles, aunts, second cousins, and three steps removed.</p>



            <p>Second Wife – Judith Anne (née Elliott) Elsom – BBC producer (retired)</p>
            <%= cl_image_tag("Wedding_Photo_1_mr6h2x", class: "img-card-top img_size_l") %>
            <p>Judith and John’s marriage – October 30, 2021</p>
          </div>


          <h4 class="friendcard_title"> Friends and Colleagues</h4>
          <h4>In thanks and gratitude</h4>
          <div class="friendcard_content">
           <p>Avril and Davis Sutton Anderson, Shirley Anderson, Ginette Ashkenazy, Anna Maria Baciu, Gabriela Baciu, John Baguley, Margaret Banwell, Lewis Barfoot, Jordan Barkham, Emma Beacroft, Raj Bisaria, Nicole Boireau, Adrian Brink, Stephen Browning, Elizabeth and Richard Bureau, Felix Buser, Carlina Carr. Gordan Carr, Augustus Caseley-Heyford, John Causebrook, Indira and Lopa Chatterjee. Phoebe Chuk, Anca Maria Colteanu, Juno Conolly, Ioana Cornisteanu, Mircea Cornisteanu, James Crabbe, Richard Crane, Adriana Christea, Patrick Curry, Ed Davey, Richard DeMarco, Oleg Dergachev, Simon Desorgher, Larry Devine, Catinca Dragonescu, Bogdan Dumitrascu, Eugenia Emets, Sarah Faulder, Nelson Fernandez, Joyce Fraser, Susan Friesner, Bamber Gascoigne, Angela Godfrey, Paul Goodey, Chris Green, Geoffrey Grey, Kit Gurney, Karina Hardingham, Ann Harris, John Harte SJ, Ian Herbert, Holly Hill, Michael Hitchcock, Mike Ingham, Fiona Isles Riley, Louise Jameson, Ruth Jindal, Hollace and Welton Jones, Yun-Cheol Kim, Andreas Kirsch, Paul Korenhof, Josh Kutschinsky, Sukha Kwon, Emily Li, David Liyan, Lauren Lodge-Campbell, Pat Loughrey, Catalina Lowe, Colin Luke, Ann and Peter McKie, Heather and Tom Mackenzie, Andrezj and Magda Zurowska, Salman Mannan, Richard Martin, Richard Mead, Michael Meadowcroft, Paul Medlicott, Anna Miran, Cathie, Heather and Clare Morley, Jytte and Andy Nacht, Simona Nastac, Ana Maria Negrescu, Nigel Newberry, Sue and Peter O’Hagan, Farouk Ohan, Vicki Ooi, Zeynup Oral, Zagba Oyortey, Tony Palmer, Ramamoorthi Parasuram, Philip Parr, Ronan Paterson, David Paskett, Richard Peng, Patricia Perry, Nicolai Pesochinsky, Barbara Phillips, Stephen Phillips, John Pick, Martyn Pick, Teodor Romeo Pop, Ana Popescu Deautsch, Phyllida Previte, Molly Price-Owen, Mary Reid, Lissa Tyler Renaud, Caroline Rinaldi, Sue Rolfe, Michael Roper, Edwin Roxburgh, Don Rubin, Farshid Sadr-Hashemi, Charlotte Salamon, Maureen Salmon, Maria Helena  Serodio, Martina Shackerley-Bennett, Emil Sirbelescu, William Summers, Kalina Stefanova, William Summers, Toby Syfret, David Thacker, Tomasc Tkacz, Traian Petrescu, Colin Tweedy, Dan Vasiliu, Oksana and Alexander Vorobyov, Hamlet Wang, Sawa Ward, Irving Wardle, Eve and Wayne Warlow, David Warwick, Jan Wild, Judy and Kate Willoughby, Noel Witts, Madeline Wurzburger, Andrei Zaharia, Anna Valentina Zaharia, Juliet Zhou, Andrez and Magda Zurowska. And Others.</p>
          </div>
          <div class="friendcard_content">
          <h4>Sponsored By</h4>
          <p>Jytte and Andy Nacht's</p>
          </div>
          <h4 class="friendcard_title">Summary</h4>
          <div class="friendcard_content">

              <p>From the stem, the bud;</p>
              <p>From the bud, the bloom;</p>
              <p>From the bloom, the seed;</p>
              <p>From the seed, the stem.</p>
          </div>

          <h2 class="friendcard_title1">Produced by God</h2>
          <%= cl_image_tag("oak_tree_lowermid_biwfre", class: "img-fluid") %>
          <h5 class="friendcard_title2">Distributed by the Internet</h5>
          <%= cl_image_tag("oak_tree_end_twkgrj", class: "img-fluid") %>
       </div>







      </div>

    </div>

  </div>
